/* Styling for horizontal containers */
.login-layout-container {
    box-sizing: border-box;
    display: grid;
    min-height: fit-content;
    height: 100vh;
    width: fit-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
        "title form"
        "logo form";
    align-self: center;
}

@media screen and (max-width: 880px) {
    .login-layout-container {
        grid-template-columns: max-content;
        grid-template-rows: min-content auto;
        grid-template-areas: 
            "title"
            "form";
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: center;
    }

    .stack-container {
        padding-bottom: 10px;
    }

    #vanier-logo-container {
        display: none;
    }
}

/* Styling for vertical containers */
.vertical-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
}

/* Styling for the left vertical container */
.side-vertical-container {
    /* Styling for vertical containers */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 0rem 2rem 2rem;
    flex: 1;
}

/* Styling for the stack containing the Collaborate title */
.stack-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "title";
    grid-area: title;
    height: fit-content;
}

/* Styling for making an h1 tag very big */
.big-h1 {
    font-size: clamp(2.5rem, 1.408rem + 4.66vw, 7rem);
    font-weight: bold;
}

/* Styling for making text outlined with border color */
.outlined-text {
    -webkit-text-stroke: 3px var(--border-normal);
    paint-order: stroke fill;
}

/* Styling for the vanier logo */
.vanier-logo {
    width: 100%;
    max-width: 328px;
    height: auto;
    object-fit: contain;
    border: 1px solid var(--border-normal);
    border-radius: 10px;
}

/* Styling for the login form container */
.login-form-container {
    display: flex;
    flex-direction: column;
    padding: 35px 40px 40px 40px;
    grid-area: form;
    border: 1px solid var(--border-normal);
    border-radius: 10px;
    justify-self: center;
    max-width: 80%;
    background-color: var(--background-normal);
}

/* Styles for the form containing the email and password inputs */
#login-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

/* Styling for input containers that are inside of a form */
form div.text-input-div {
    width: 75%;
}

/* Additional styling for the password container which contains the forgot password link. */
.password-input-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* More specific selector for the password input */
.password-input-container div.text-input-div {
    width: 100%;
}

/* Styling for redirect links. */
.redirect-link {
    margin-top: 5px;
    color: var(--secondary);
    text-decoration: none;
    align-self: flex-end;
}

/* Styling for muted text */
.text-muted {
    color: var(--text-muted);
}

/* Styling for accented text (primary color) */
.text-accent {
    color: var(--primary);
}

/* Styling for the container that has the login button and register link. */
.login-container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

/* Styling for primary buttons */
.button-primary {
    background-color: var(--primary);
    color: var(--text-normal);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: clamp(1rem, 0.951rem + 0.207vw, 1.2rem);
    font-weight: bold;
    filter: drop-shadow(2px 0px 4px rgba(0, 0, 0, 25%)) drop-shadow(-2px 0px 4px rgba(0, 0, 0, 25%)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 25%));
}

/* Styling for the create account text. */
.login-container p {
    margin-top: 10px;
    align-self: flex-end;
}

/* Base paragraph style */
p {
    font-size: clamp(0.8rem, 0.751rem + 0.207vw, 1rem);
}

/* Base link style */
a {
    font-size: clamp(0.8rem, 0.751rem + 0.207vw, 1rem);
}

/* Base h1 style */
h1 {
    font-size: clamp(1.5rem, 1.139rem + 1.539vw, 2.986rem);
    color: var(--text-normal);
    font-weight: bold;
}

/* Base h4 style */
h4 {
    font-size: clamp(1rem, 0.823rem + 0.754vw, 1.728rem);
    color: var(--text-muted);
    overflow: wrap;
}

/* Additional styling for the login form subtitle */
.login-form-header h4 {
    margin-top: 12px;
}

/* Horizontal line styling. */
hr {
    border-width: 1px;
    border-color: var(--background-dark);
    width: 100%;
}

/* Styling for the base Collaborate title */
#collaborate-title-base {
    color: var(--text-normal);
    grid-area: title;
    z-index: 1;
}

/* Styling for the outlined Collaborate title */
#collaborate-title-layer {
    color: var(--background-dark);
    grid-area: title;
    height: fit-content;
    margin-top: clamp(0.375rem, 0.223rem + 0.647vw, 1rem); /* 0.375 min */
    margin-left: clamp(0.438rem, 0.302rem + 0.582vw, 1rem); /* 0.438 min */
    z-index: 0;
}

/* Styling for the cssa title */
#vanier-cssa-title {
    font-size: 3rem;
    font-weight: bold;
}

/* Styling for the container holding the vanier title and logo*/
#vanier-logo-container {
    grid-area: logo;
    width: fit-content;
    justify-content: flex-end;
}
