/* Variables */
:root {
    /* Set the font family and base font size*/
    --font-family: 'Inter', sans-serif;
    --font-size: 16px;
    font-family: var(--font-family);

    /* Background color variables */
    --background-dark: rgb(26, 26, 26);
    --background-normal: rgb(64, 64, 64);
    --background-dark: rgb(26, 26, 26);
    --background-normal: rgb(64, 64, 64);
    --background-normal-lighter: rgb(87, 87, 87);
    --background-light: rgb(128, 128, 128);

    /* Text color variables */
    --text-normal: rgb(242, 242, 242);
    --text-muted: rgb(204, 204, 204);
    --white-text: rgb(255, 255, 255);
    
    /* Border color variables */
    --border-dark: rgb(51, 51, 51);
    --border-normal: rgb(166, 166, 166);
    --border-highlight: rgb(191, 191, 191);

    /* Special color variables */
    --primary: rgb(246, 85, 85);
    --secondary: rgb(246, 166, 85);
    --success: hsl(150, 90%, 65%);
    --warning: hsl(30, 90%, 65%);
    --error: hsl(0, 100%, 60%);

    /* Other colors */
    --sidebar-tab-hover: hsla(0, 90%, 65%, 0.15);
    --sidebar-tab-selected: hsla(0, 90%, 65%, 0.25);
    --sidebar-tab-selected-hover: hsla(0, 90%, 65%, 0.2);

    /* Effects variables */
    --filter-full-drop-shadow: drop-shadow(2px 0px 4px rgba(0, 0, 0, 25%)) drop-shadow(-2px 0px 4px rgba(0, 0, 0, 25%)) drop-shadow(0px 2px 4px rgba(0, 0, 0, 25%));
    --filter-partial-drop-shadow: drop-shadow(2px 2px 4px rgba(0, 0, 0, 25%));

    /* Define responsive font size variables */
    --font-size-small: clamp(0.722rem, 0.115vi + 0.695rem, 0.833rem);
    --font-size-p: clamp(0.813rem, 0.194vi + 0.767rem, 1rem);
    --font-size-h6: clamp(0.914rem, 0.296vi + 0.845rem, 1.2rem);
    --font-size-h5: clamp(1.028rem, 0.426vi + 0.928rem, 1.44rem);
    --font-size-h4: clamp(1.157rem, 0.591vi + 1.018rem, 1.728rem);
    --font-size-h3: clamp(1.301rem, 0.8vi + 1.114rem, 2.074rem);
    --font-size-h2: clamp(1.464rem, 1.061vi + 1.216rem, 2.488rem);
    --font-size-h1: clamp(1.647rem, 1.386vi + 1.322rem, 2.986rem);
}
