/* Variables */
:root {
    /* Set the font family and base font size*/
    --font-family: 'Inter', sans-serif;
    --font-size: 16px;
    font-family: var(--font-family);

    /* Background color variables */
    --background-dark: hsl(0, 0%, 10%);
    --background-normal: hsl(0, 0%, 25%);
    --background-light: hsl(0, 0%, 50%);

    /* Text color variables */
    --text-normal: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 80%);
    
    /* Border color variables */
    --border-dark: hsl(0, 0%, 20%);
    --border-normal: hsl(0, 0%, 65%);
    --border-highlight: hsl(0, 0%, 75%);

    /* Special color variables */
    --primary: hsl(0, 90%, 65%);
    --secondary: hsl(30, 90%, 65%);
    --success: hsl(150, 90%, 65%);
    --warning: hsl(30, 90%, 65%);
    --error: hsl(0, 100%, 60%);

    /* Other colors */
    --sidebar-tab-hover: hsla(0, 90%, 65%, 0.15);
    --sidebar-tab-selected: hsla(0, 90%, 65%, 0.3);
    --sidebar-tab-selected-hover: hsla(0, 90%, 65%, 0.2);
}